#Ignore macOS system files
.DS_Store


#Ignore the terraform dependency directory along with tfstate file and it's backup
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

#Ignore buidl artifacts like Lambda zip files
*.zip
